.results {
    height: calc(100vh - 90px);
    overflow-y: auto;
    padding: 0 50px;

    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__sidebar{
        margin: 20px;
    }
}