@use '../../styles/variables';
@use '../../styles/mixins';


.search-input__field:focus {
  outline: none;
  box-shadow: 0px 2px 8px 0px rgba(60, 64, 67, 0.25);
}

.search-input {

  &__group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
  }

  &__wrapper {
    position: relative;
    width: 100%;
  }

  &__field {
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 1.25rem;
    font-size: 1rem;
    box-shadow: 0px 2px 8px 0px rgba(60, 64, 67, 0.25);
    padding: 8px 40px;
    width: 90%;
  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: variables.$text-color;
    pointer-events: none;

    &--search {
      left: 12px;
    }

    &--clear {
      right: 12px;
      pointer-events: auto;
      cursor: pointer;
    }
  }

  &__clear {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 12px;
  }

  &__submit {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: variables.$primary-color;
    color: rgb(0, 0, 0);
    margin: 10px auto 0;
    width: fit-content;
  }
}

@media (min-width: 768px) {
  .search-input {
    display: flex;
    align-items: center;
    min-width: 600px;

    &__submit {
      margin-top: 0;
      width: fit-content;
    }
  }
}